#capacitacion{
    margin:50px 0;
    width: 80vw;
}
.capacitacionlist{
border-inline-start: 1px solid var(--color-primario);
position: relative;
display: flex;
flex-direction: column;
gap: 4vh;
}
.capacitacionitem{
    padding-left: 20px;
    padding-bottom: 40px;
    background: var(--color-sombra-1);
    border-radius: 6px;
    padding: 30px;
}
.capacitacionitem time{
    color:var(--color-fuente-1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.capacitacionitem h3{
    color: var(--color-fuente-2);
}

.capacitacionitem p{
    color: rgb(226, 226, 226);
    margin:0 0 35px 0;
}

.capacitacionlist li{
  list-style: none;
}
.capacitacionlist ul li{
  color: var(--color-fuente-1);
  font-family: var(--fuente-1);
  font-size: var(--tamaño-fuente-4);
}
.circulodecorativo{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;

    left: -5;
    margin-top: 7px;
}
.capacitacionSection {
    margin: 50px auto;
  }
  
  .capacitacionSection h2 {
    margin-bottom: 30px;
  }
  
  .capacitacionlist {
    border-inline-start: 1px solid white;
    position: relative;
  }
  .circulodecorativo {
    height: 10px;
    width: 10px;
    background-color: var(--color-secundario);
    border-radius: 50%;
    position: absolute;
  
    left: -5px;
    margin-top: 7px;
  }
  .listacap{
  width: 100%;
  }
  .listacap ul{
    color: var(--color-fuente-1);
    display: flex;
    justify-content:center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }