footer {
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-sombra-1);
    margin-top: 16vh;
}

footer p {
    color: var(--color-fuente-1);
    font-size: var(--tamaño-fuente-3);
}