header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 7vh;
    position: fixed;
    z-index: 3;
    flex-direction: row;
    top: 0;
    flex-wrap: nowrap;
}

nav {
    border: 0 20px;
    width: 90vw;


}

.logo {
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 80px;
    width: 80px;
    filter: none;
}

.container_nav {
    width: 80vw;
}

.container_nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 3vw;
    width: 100%;

}

.container_nav li {
    margin: 6px 0;
    list-style: none;


}

.container_nav li a {
    text-decoration: none;
    font-size: var(--tamaño-fuente-4);
    font-family: var(--fuente-1);
}

.container_nav li i {
    margin-right: 1vw;
}

.container_nav li a,
i {
    color: aliceblue;
}

header .container {
    height: 10vh;
}

/* Efectos */
.container_nav li {
    color: white;
    text-decoration: none;
    border: none;
    background: none;
}

.container_nav li::before {
    margin-left: auto;
}

.container_nav li::after,
.container_nav li::before {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--color-secundario);
    display: block;
    transition: 0.5s;
    padding: -20px;
}

.container_nav li:hover::after,.container_nav li:hover::before {
    width: 100%;
}