header {
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    position: fixed;
    z-index: 3;
    flex-direction: row;
    top: 0;
    flex-wrap: nowrap;
    padding: 10px;

}

nav {
    width: 90vw;
    padding-left: 20px;

}

.logo {
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 80px;
    width: 80px;
    filter: none;
}

.container_nav {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: right;


}

.container_nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    gap: 3vw;
    padding-right: 10px;
    background:linear-gradient(to bottom ,var(--color-sombra-1) 93%, var(--color-terciario));

}

.container_nav li {
    margin: 6px 0;
    list-style: none;


}

.container_nav li a {
    text-decoration: none;
    font-size: var(--tamaño-fuente-4);
    font-family: var(--fuente-1);
    

}

.container_nav li i {
    margin-right: 1vw;
}

.container_nav li a,
i {
    color: aliceblue;
}

header .container {
    height: 10vh;
}

/* Efectos */
.container_nav li {
    color: white;
    text-decoration: none;
    padding: 2px 4px;

}
.container_nav li:hover{
    transition: 0.2s;
  transform:scale(1.1,1.1);

}
.container_nav li::before {
    margin-left: auto;
}

.container_nav li::after,
.container_nav li::before {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--universal-gradient);
    display: block;
    transition: 0.5s;
    padding: -20px;
    
}

.container_nav li:hover::after,.container_nav li:hover::before {
    width: 100%;
    
}