/* Media query para moviles */
@media (min-width: 180px) and (max-width:779px) {
    :root{
        --color-secundario: #b12a2a;
        --tamaño-fuente-1:22px;
        --tamaño-fuente-2:18px;
        --tamaño-fuente-3:8px;
        --tamaño-fuente-4:6px;
    }
    header{
        margin-top: 5rem;
    }
}


/*  media query para tablets */
@media (max-width: 780px) and (max-height:1200px){
    :root{
        --tamaño-fuente-1:30px;
        --tamaño-fuente-2:20px;
        --tamaño-fuente-3:12px;
        --tamaño-fuente-4:12px;
    }
    header{
        height: 120xp;
        width: 100vw;
        padding: 0;
        margin-top: 16px;
    }
    nav{
        width: 100vw;
        padding: 0;
        margin-top: 8rem;
    }
    .container_nav{
        width: 100vw;

    }
    .container_nav ul{
        flex-direction: column;
        width: 100vw;
    }
    .logo{
     display: none;
    }
    #home{
        align-items: center;
    }
    .video_background{
        height: 80%;
    }
    .containerc{
        grid-template-columns: repeat(1,100%);
    }
    .links{
        padding: 20px 0;
        justify-content: space-around;
    }
    .am{
        flex-direction: column;
    }
    .foto{
        display: none;
    }

    
}
