.habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 80vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    border: 2px inset var(--color-sombra-1);

    padding:10px 12px 0 12px;
    border-radius:20px;
    background:1 var(--color-sombra-1);
}
.slider .slide-track{
    display: flex;
    animation: scroll 10s linear infinite;
    --webkit-animation: scroll 10s linear infinite;
    width: calc(var(--tamaño-slide) *12);

}
.slider .slide{
    font-size: var(--tamaño-slide);
    width: var(--tamaño-slide);
  
}
.slider .slide i,img{
    font-size: 100%;
    width: 100%;
    filter: invert(50%);
}
.slide{
    margin: 0 15px;

}
.slide img{
    width: var(--tamaño-slide);
}
.fv{
    margin: 0 45px 0 6px;
}
@keyframes scroll {
    0%{
        --webkit-transform:trasnlateX(0);
        transform:translateX(0)
    }
    100%{
        --webkit-transform:trasnlateX(calc(var(--tamaño-slide)* -6) );
        transform:translateX(calc(var(--tamaño-slide)*-6) )
    }
}