.aboutme{
    height: 100vh;
    width: 100vw;
    text-align: center;
}
.am{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 10vw;
    height: 40vh;
    
    gap:  5vw;
}
.texto{
    font-size: 3vh;
    line-height:7vh;
    font-weight:10px;
}
.texto #name{
    font-size: 3.4vh;
    font-weight: bolder;
}
.aboutme h2{
    font-size: 6vw;
}
.foto img{
    border-radius: 50%;
    width: 15vw;
    object-fit: cover;

}