@import url(contacto.css);
@import url(slider.css);
@import url(nav.css);
@import url(hero.css);
@import url(sm.css);
@import url(skills.css);
@import url(capacitacion.css);
@import url(footer.css);
@import url(responsive.css);

:root {
  --color-primario: #00000E;
  --color-secundario: #3E3E3E;
  --color-terciario: #4900FF;



  --color-sombra-1: #242424a8;
  --color-fuente-1: #C9C9C9;
  --color-fuente-2: #4900FF;


  
  --fuente-1: "Space Grotesk", 'Lucida Sans Regular';
  --tamaño-fuente-1: 50px;
  --tamaño-fuente-2: 30px;
  --tamaño-fuente-3: 20px;
  --tamaño-fuente-4: 15px;
  --tamaño-fuente-5: 10px;
  --tamaño-slide: 120px;
  --universal-gradient:linear-gradient(to right, var(--color-terciario) 90%,var(--color-fuente-1));

}
/* Fuentes */
.teko-fuente-1 {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.space-grotesk-fuente-2 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  background: var(--color-primario);
  overflow-x: hidden;
  display: block;
  width: 100vw;
  
}

h1 {
  text-align: left;
  font-family: var(--fuente-1);
  font-size: var(--tamaño-fuente-2);
  color: var(--color-fuente-2);
}

h2 {
  text-align: left;
  font-size: var(--tamaño-fuente-1);
  font-family: var(--fuente-1);
  color: var(--color-fuente-2);

}

h3 {
  text-align: left;
  font-size: var(--tamaño-fuente-2);
  font-family: var(--fuente-1);
  color: var(--color-fuente-2);

}

p {
  font-family: var(--fuente-1);
  font-size: var(--tamaño-fuente-3);
  color: var(--color-fuente-1);
}

a {
  font-family: var(--fuente-1);
  text-decoration: none;
  color: var(--color-fuente-1);
}
h2:scope{
  transition: 0.7s;
  transform: scale(1.1,1.1);
}
/* html{

    ::-webkit-scrollbar {
      width: 8px;
      background-color: #ff000000;
      border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb {
      background:linear-gradient(to top,#,#);
      border-radius: 8px;
      width: 10px;
      height: 10vh;
    }
  }
   */
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.container {
  width: 80vw;
}

section {
  width: 100vw;
  padding-top: 20px;
}

/* Boton */



.btn {
  
  font-size: 17px;
  background: transparent;
  border: none;
  color: var(--color-primario);
  font-weight: 300;
  padding: 10px 20px;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
  background: var(--color-secundario);
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 0;
  background: var(--universal-gradient);
  transition: 0.5s ease;

}

.btn:hover {
  color: var(--color-fuente-1);
  transition-delay: 0.2s;
  background-color: var(--color-terciario);
  transform:scale(1.1,1.1);


}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background: var(--color-terciario);
  transition: 0.5s ease;
  z-index: -1;
  


}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.3s;
  box-shadow: 0 0 12px var(--color-terciario);
}

